*{
  background-color: transparent;
  color:white;
  font-family: "Poppins";
}

body{
  max-width: 100vw; 
  overflow-x: hidden; 
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
  border-radius: inherit;
  z-index: 0;
}
